<h1 style="color: #D8D8D8" ">Contato</h1>
<div class="container">
    <form action="action_page.php">

        <label for="onome">Nome</label>
        <input type="text" id="fname" name="firstname" placeholder="Digite aqui">

      <label  for="tnome">Sobrenome</label> 
        <input type="text" id="lname" name="lastname" placeholder="Digite aqui">

        <label for="cidade">Cidade</label>
        <select id="cidade" name="cidade">
            <option value="joinville">Joinville</option>
            <option value="blumenau">Blumenau</option>
            <option value="florianopolis">Florianópolis</option>
            <option value="baneariocamboriu">Balneário Camboriú</option>
            <option value="itajai">Itajaí</option>
            <option value="curitiba">Curitiba</option>

        </select>

        <label for="cel">Celular</label>
        <input type="tel" id="celular" placeholder="Digite aqui">

        <label for="email">Email  <label>
        <input type="email" id="email" placeholder="Digite aqui">

        <input type="submit" value="Enviar">

    </form>
</div>


