@{
    ViewData["Title"] = "Home Page";
}
<br>
<div class="text-center"></div>
    <h1 style="color: #D8D8D8">
        Seja bem-vindo ao GB Imports
    </h1>

    <div class="container">
        <button class="arrow-left control" aria-label="Previous image">◀</button>
        <button class="arrow-right control" aria-label="Next Image">▶</button>
        <div class="gallery-wrapper">
            <div class="gallery">
                <!--       <div class="item current-item cyan"></div>
                <div class="item deeppink"></div>
                <div class="item turquoise"></div>
                <div class="item darkblue"></div>
                <div class="item purple"></div> -->
                <img src="~/img/bleu.jpg" alt="" class="item current-item">
                <img src="~/img/lavie.jpg" alt="" class="item current-item">
                <img src="~/img/olyy.png" alt="" class="item current-item">
                <img src="~/img/silver.png" alt="" class="item current-item">
                <img src="~/img/212.jpg" alt="" class="item current-item">
            </div>
        </div>
    </div>
 <img src="~/img/foguete.gif" width="150px" height="150px" />
