<br />
<h1 style="color: #D8D8D8">Produtos Disponíveis</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 rouded">
                <img class="card-img-top" src="~/img/prod1.jpg" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">Bleu de Channel</h5>
                <h6 class="card-subtitle text-dark">Bleu de Chanel de Chanel é um perfume Amadeirado Aromático Masculino. Bleu de Chanel foi lançado em 2010.</h6>
                </div>
            </div>
         </div>
      </div>
  </div>
        <div class="col">
            <div class="card shadow-lg p-3 mb-5 rouded">
                <img class="card-img-top" src="~/img/prod1.jpg" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">Bleu de Channel</h5>
                <h6 class="card-subtitle text-dark">Bleu de Chanel de Chanel é um perfume Amadeirado Aromático Masculino. Bleu de Chanel foi lançado em 2010.</h6>
                </div>
            </div>
         </div>

        <div class="col">
            <div class="card shadow-lg p-3 mb-5 rouded">
                <img class="card-img-top" src="~/img/prod1.jpg" height="250" width="250" />
                <div class="card-body border-5">
                    <h5 class="card-title text-white">Bleu de Channel</h5>
                    <h6 class="card-subtitle text-dark">Bleu de Chanel de Chanel é um perfume Amadeirado Aromático Masculino. Bleu de Chanel foi lançado em 2010.</h6>
                </div>
            </div>
        </div>


