
<h1 style="color: #D8D8D8;">Produtos Disponíveis</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
                <img class="card-img-top" src="~/img/212.jpg" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">212 Men Eau de Toilette 100ml</h5>
                <h6 class="card-subtitle text-dark">Inspirado no lifestyle de Nova York, e na sua juventude antenada e aberta para o mundo,
                Carolina Herrera 212 Men é um perfume para o homem de negócios, poderoso, criativo, jovem, com espírito desbravador.</h6>
<br />
                <h5 class="card-subtitle text-white">R$ 703,49
                ou até 8x de R$87,94</h5>
<br />
               <a type="button" class="btn btn-primary">Comprar</a>
           </div>
      </div>
                <div class="col-6">
                <img class="card-img-top" src="~/img/lavie.png" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">La vie Est Belle Eau de Parfum 100ML</h5>
                <h6 class="card-subtitle text-dark">Fragrância floral gourmand sofisticada para uma mulher livre e realizada.</h6>
<br />
                <h5 class="card-subtitle text-white">R$ 739,00
                ou 10x de R$ 73,90</h5>
<br />
                <a type="button" class="btn btn-primary">Comprar</a>
           </div>
      </div>
                <div class="col-6">
                <img class="card-img-top" src="~/img/silversc.png" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">Silver Scent Pure 100ml</h5>
                <h6 class="card-subtitle text-dark">Silver Scent da marca Jacques Borgat é um perfume masculino de contrastes. Fresco e quente,
                    moderno com uma distinção clássica.</h6>
<br />
                <h5 class="card-subtitle text-white">R$ 219,90
                ou 5x de R$ 43,98</h5>
<br />
                <a type="button" class="btn btn-primary">Comprar</a>
           </div>
      </div>
              <div class="col-6">
                <img class="card-img-top" src="~/img/olympea.png" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">Perfume Feminino Paco Rabanne Olympea, Eau de Parfum 30ml</h5>
                <h6 class="card-subtitle text-dark">Olympéa é um Perfume Paco Rabanne feminino oriental fresco para mulheres que sabem viver o espírito de competição e mais ainda,
                    apreciar o sabor da vitória.</h6>
<br />
                <h5 class="card-subtitle text-white">R$ 349,90 -
                    10 x R$ 66,99 - sem juros</h5>
<br />
                <a type="button" class="btn btn-primary">Comprar</a>
                </div>
            </div> 
       </div>
    </div>      
                 <div class="col-">
                <img class="card-img-top" src="~/img/novableu.jpg" height="250" width="250" />
                <div class="card-body border-5">
                <h5 class="card-title text-white">BLEU DE CHANEL EAU DE PARFURM 100ML</h5>
                <h6 class="card-subtitle text-dark">Para uma experiência mais intensa, o perfume expressa sua total complexidade quando aplicado diretamente na pele,
                 nos lugares mais quentes (pescoço e pulsos).</h6>
<br />
                <h5 class="card-subtitle text-white">R$899,90 -  EM 12X DE R$ 85,79</h5>
<br />
                <a type="button" class="btn btn-primary">Comprar</a>
                </div>
            </div>
                
